<%= render 'shared/menu' %>

<% provide(:title, "Log in") %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="../../assets/stylesheets/index.css">
  </head>
  <body>

  <div class="main-page-container">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div id="central-box" class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item">
      <p id="makersbnb">MakersBnB<p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <%= form_for(:session, url: login_path) do |f| %>
    <div class="grid-item" id="item-5">
        <p>
          <%= f.text_field :username, class: 'fields', autofocus: true %>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item" id="item-8">
        <p>
          <%= f.password_field :password, class: 'fields' %>
        </p>
    </div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item" id="item-11">
        <p>
          <%= f.submit "Log in", class: "fields" %>
        </p>
    <% end %>

    </div>
    <div class="grid-item"></div>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  </div>

  </body>
</html>
