<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../../assets/stylesheets/users.css">
  </head>
  <body>

    <%= render 'shared/menu' %>

    <% provide(:title, "Sign up") %>

    <div class="container">

    <div class="top1"></div>
    <div class="top2"><h1 class="heading">Sign up</h1> </div>
    <div class="top3"></div>

      <div class="top1"></div>
      <div class="top2">

        <%= form_with model: @user, url: {action: "create"}, local: true do |f| %>

        <p><%= f.email_field :email, class: 'form-control', placeholder: 'Email' %></p>

        <p><%= f.text_field :forename, class: 'form-control', placeholder: 'First name'  %></p>
      <%= f.submit "Sign up", class: "btn btn-primary" %>
        
        <p><%= f.text_field :surname, class: 'form-control', placeholder: 'Last name' %></p>

        <p><%= f.text_field :username, class: 'form-control', placeholder: 'Username' %></p>

        <p><%= f.password_field :password, class: 'form-control', placeholder: 'Password' %></p>

        <p><%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Password' %></p>

        <p><%= f.submit "Sign up", class: "btn btn-primary" %></p>

        <% end %>
    <%= flash[:error] %>
      </div>
      <div class="top3"></div>
    </div>
</body>
</html>